In [1]:
#installation de la bibliothéque 
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\codou\anaconda3\lib\site-packages (0.20.0)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\codou\anaconda3\lib\site-packages (from mlxtend) (1.1.1)
Requirement already satisfied: scipy>=1.2.1 in c:\users\codou\anaconda3\lib\site-packages (from mlxtend) (1.7.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\codou\anaconda3\lib\site-packages (from mlxtend) (3.4.3)
Requirement already satisfied: pandas>=0.24.2 in c:\users\codou\anaconda3\lib\site-packages (from mlxtend) (1.3.4)
Requirement already satisfied: joblib>=0.13.2 in c:\users\codou\anaconda3\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: numpy>=1.16.2 in c:\users\codou\anaconda3\lib\site-packages (from mlxtend) (1.20.3)
Requirement already satisfied: setuptools in c:\users\codou\anaconda3\lib\site-packages (from mlxtend) (58.0.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\codou\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\codou\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.4.0)
Requirement already satisfied: cycler>=0.10 in c:\users\codou\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\codou\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\codou\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.4)
Requirement already satisfied: six in c:\users\codou\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\codou\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\codou\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)

In [2]:
#importation de bibliotheques
import mlxtend
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

dataset = [['Jupe', 'Baskets', 'Écharpe', 'Pantalon', 'Chapeau'],

    ['Lunettes de soleil', 'Jupe', 'Baskets', 'Pantalon', 'Chapeau'],

    ['Robe', 'Sandales', 'Écharpe', 'Pantalon', 'Talons'],

    ['Robe', 'Collier', 'Boucles d\'oreilles', 'Écharpe', 'Chapeau', 'Talons', 'Chapeau'],

   ['Boucles d\'oreilles', 'Jupe', 'Jupe', 'Écharpe', 'Chemise', 'Pantalon']]
#transformation de données en dataframe
te=TransactionEncoder()
te_ary=te.fit(dataset).transform(dataset)    
df=pd.DataFrame(te_ary, columns=te.columns_)  
df

,Baskets,Boucles d'oreilles,Chapeau,Chemise,Collier,Jupe,Lunettes de soleil,Pantalon,Robe,Sandales,Talons,Écharpe
0,True,False,True,False,False,True,False,True,False,False,False,True
1,True,False,True,False,False,True,True,True,False,False,False,False
2,False,False,False,False,False,False,False,True,True,True,True,True
3,False,True,True,False,True,False,False,False,True,False,True,True
4,False,True,False,True,False,True,False,True,False,False,False,True

In [3]:

# ajout d'indice pour voir la fréquence de sortie de chaque produit
from mlxtend.frequent_patterns import apriori
apriori(df, min_support=0.6)

   support itemsets
0      0.6      (2)
1      0.6      (5)
2      0.8      (7)
3      0.8     (11)
4      0.6   (5, 7)
5      0.6  (11, 7)

In [4]:
#indice de valeur des données sortie précedemment
frequent_itemsets=apriori(df, min_support=0.6, use_colnames=True)
frequent_itemsets

   support             itemsets
0      0.6            (Chapeau)
1      0.6               (Jupe)
2      0.8           (Pantalon)
3      0.8            (Écharpe)
4      0.6     (Pantalon, Jupe)
5      0.6  (Pantalon, Écharpe)

In [5]:
from mlxtend.frequent_patterns import association_rules 
#association des vetement basé sur le metric  de confidence minimale de 70%
association_rules(frequent_itemsets,metric="confidence",min_threshold=0.7)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Pantalon),(Jupe),0.8,0.6,0.6,0.75,1.2500,0.12,1.6
1,(Jupe),(Pantalon),0.6,0.8,0.6,1.00,1.2500,0.12,inf
2,(Pantalon),(Écharpe),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
3,(Écharpe),(Pantalon),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8

In [6]:
#association basée sur la portance
from mlxtend.frequent_patterns import association_rules 
rules= association_rules(frequent_itemsets,metric="lift",min_threshold=1.25)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Jupe),(Pantalon),0.6,0.8,0.6,1.0,1.25,0.12,inf

In [7]:
#on peu dire qu'on a une dépendance entre jupe et pantalon

In [8]:
#apprentissage avec des données plus nombreuses

data=pd.read_csv('Market_Basket_Optimisation.csv',encoding='ISO-8859-1', header=None)
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
import numpy as np

# 1. Gather All Items of Each Transactions into Numpy Array
transaction = []
for i in range(0, data.shape[0]):
    for j in range(0, data.shape[1]):
        transaction.append(data.values[i,j])
transaction = np.array(transaction)
# 2. Transform Them a Pandas DataFrame
df = pd.DataFrame(transaction, columns=["items"]) 
df

                 items
0               shrimp
1              almonds
2              avocado
3       vegetables mix
4         green grapes
...                ...
150015             nan
150016             nan
150017             nan
150018             nan
150019             nan

[150020 rows x 1 columns]

In [10]:
data.shape

(7501, 20)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7501 entries, 0 to 7500
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       7501 non-null   object
 1   1       5747 non-null   object
 2   2       4389 non-null   object
 3   3       3345 non-null   object
 4   4       2529 non-null   object
 5   5       1864 non-null   object
 6   6       1369 non-null   object
 7   7       981 non-null    object
 8   8       654 non-null    object
 9   9       395 non-null    object
 10  10      256 non-null    object
 11  11      154 non-null    object
 12  12      87 non-null     object
 13  13      47 non-null     object
 14  14      25 non-null     object
 15  15      8 non-null      object
 16  16      4 non-null      object
 17  17      4 non-null      object
 18  18      3 non-null      object
 19  19      1 non-null      object
dtypes: object(20)
memory usage: 1.1+ MB

In [13]:
#- Les éléments les plus demandés dans l'ensemble de données / Top10


# 1. Gather All Items of Each Transactions into Numpy Array
transaction = []
for i in range(0, data.shape[0]):
    for j in range(0, data.shape[1]):
        transaction.append(data.values[i,j])
transaction = np.array(transaction)
# 2. Transform Them a Pandas DataFrame
df = pd.DataFrame(transaction, columns=["items"]) 

df["incident_count"] = 1 # Put 1 to Each Item For Making Countable Table, to be able to perform Group By

# 3. Delete NaN Items from Dataset
indexNames = df[df['items'] == "nan" ].index
df.drop(indexNames , inplace=True)

# 4. Final Step: Make a New Appropriate Pandas DataFrame
df_table = df.groupby("items").sum().sort_values("incident_count", ascending=False).reset_index()
df_table

             items  incident_count
0    mineral water            1788
1             eggs            1348
2        spaghetti            1306
3     french fries            1282
4        chocolate            1230
..             ...             ...
115        bramble              14
116          cream               7
117        napkins               5
118    water spray               3
119      asparagus               1

[120 rows x 2 columns]

In [14]:
df_table.tail(10)

               items  incident_count
110          oatmeal              33
111  chocolate bread              32
112          chutney              31
113    mashed potato              31
114              tea              29
115          bramble              14
116            cream               7
117          napkins               5
118      water spray               3
119        asparagus               1

In [15]:
#pretraitement des données 
#Pour travailler avec l'algorithme apriori, nous devons convertir les transactions en un jeu de données 1/0 ou True/False


# Transform Every Transaction to Seperate List & Gather Them into Numpy Array

transaction = []
for i in range(data.shape[0]):
    transaction.append([str(data.values[i,j]) for j in range(data.shape[1])])
    
transaction = np.array(transaction)
transaction

## Every trnasaction is in on list and combination of list is put in NP array

array([['shrimp', 'almonds', 'avocado', ..., 'frozen smoothie',
        'spinach', 'olive oil'],
       ['burgers', 'meatballs', 'eggs', ..., 'nan', 'nan', 'nan'],
       ['chutney', 'nan', 'nan', ..., 'nan', 'nan', 'nan'],
       ...,
       ['chicken', 'nan', 'nan', ..., 'nan', 'nan', 'nan'],
       ['escalope', 'green tea', 'nan', ..., 'nan', 'nan', 'nan'],
       ['eggs', 'frozen smoothie', 'yogurt cake', ..., 'nan', 'nan',
        'nan']], dtype='<U20')

In [16]:
te = TransactionEncoder()
te_ary = te.fit(transaction).transform(transaction)
dataset = pd.DataFrame(te_ary, columns=te.columns_)
dataset

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,True,True,False,True,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7499,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7500,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [17]:
first50 = df_table["items"].head(50).values # Select Top50
dataset = dataset.loc[:,first50] # Extract Top50
dataset

,mineral water,eggs,spaghetti,french fries,chocolate,green tea,milk,ground beef,frozen vegetables,pancakes,...,ham,energy bar,energy drink,pepper,vegetables mix,cereals,muffins,oil,french wine,fresh tuna
0,True,False,False,False,False,True,False,False,False,False,...,False,False,True,False,True,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,False,False,False,False,True,True,False,False,False,...,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7497,False,True,False,True,False,True,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
7498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7499,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7500,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [18]:
dataset.columns
# We extracted first 50 column successfully.

## Items - All itesm are my cols 

## TRUE / FALSE  ->> 1 /0

Index(['mineral water', 'eggs', 'spaghetti', 'french fries', 'chocolate',
       'green tea', 'milk', 'ground beef', 'frozen vegetables', 'pancakes',
       'burgers', 'cake', 'cookies', 'escalope', 'low fat yogurt', 'shrimp',
       'tomatoes', 'olive oil', 'frozen smoothie', 'turkey', 'chicken',
       'whole wheat rice', 'grated cheese', 'cooking oil', 'soup',
       'herb & pepper', 'honey', 'champagne', 'fresh bread', 'salmon',
       'brownies', 'avocado', 'hot dogs', 'cottage cheese', 'tomato juice',
       'butter', 'whole wheat pasta', 'red wine', 'yogurt cake', 'light mayo',
       'ham', 'energy bar', 'energy drink', 'pepper', 'vegetables mix',
       'cereals', 'muffins', 'oil', 'french wine', 'fresh tuna'],
      dtype='object')

In [19]:
# Convert dataset into 1-0 encoding

def encode_units(x):
    if x == False:
        return 0 
    if x == True:
        return 1
    
dataset = dataset.applymap(encode_units)
dataset.head(10)

,mineral water,eggs,spaghetti,french fries,chocolate,green tea,milk,ground beef,frozen vegetables,pancakes,...,ham,energy bar,energy drink,pepper,vegetables mix,cereals,muffins,oil,french wine,fresh tuna
0,1,0,0,0,0,1,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,1,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,1,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
# Extracting the most frequest itemsets via Mlxtend.

# min support - just to avoid the products which is very lesss occuring ( for 1-2 times in complete dataset )

frequent_itemsets = apriori(dataset, min_support=0.01, use_colnames=True) ## to generate itemset

# The length column has been added to increase ease of filtering.

frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

C:\Users\Codou\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

      support                                  itemsets  length
0    0.238368                           (mineral water)       1
1    0.179709                                    (eggs)       1
2    0.174110                               (spaghetti)       1
3    0.170911                            (french fries)       1
4    0.163845                               (chocolate)       1
..        ...                                       ...     ...
227  0.010932   (mineral water, chocolate, ground beef)       3
228  0.011065        (milk, mineral water, ground beef)       3
229  0.011065  (milk, mineral water, frozen vegetables)       3
230  0.010532              (spaghetti, eggs, chocolate)       3
231  0.010932              (spaghetti, milk, chocolate)       3

[232 rows x 3 columns]

In [21]:
frequent_itemsets[ (frequent_itemsets['length'] == 2) &
                   (frequent_itemsets['support'] >= 0.04)]

     support                      itemsets  length
50  0.050927         (eggs, mineral water)       2
51  0.059725    (spaghetti, mineral water)       2
53  0.052660    (mineral water, chocolate)       2
55  0.047994         (milk, mineral water)       2
56  0.040928  (mineral water, ground beef)       2

In [22]:
frequent_itemsets[ (frequent_itemsets['length'] == 3) ].head()

      support                                  itemsets  length
215  0.014265          (spaghetti, eggs, mineral water)       3
216  0.013465          (eggs, mineral water, chocolate)       3
217  0.013065               (eggs, milk, mineral water)       3
218  0.010132        (eggs, mineral water, ground beef)       3
219  0.010132  (spaghetti, french fries, mineral water)       3

In [23]:
# We can create our rules by defining metric and its threshold.

# For a start, 
#      We set our metric as "Lift" to define whether antecedents & consequents are dependent or not.
#      Threshold is selected as "1.2" since it is required to have lift scores above than 1 if there is dependency.


# association_rules - this is used for generating rules now 

rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.2)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(spaghetti),(mineral water),0.174110,0.238368,0.059725,0.343032,1.439085,0.018223,1.159314
1,(mineral water),(spaghetti),0.238368,0.174110,0.059725,0.250559,1.439085,0.018223,1.102008
2,(mineral water),(chocolate),0.238368,0.163845,0.052660,0.220917,1.348332,0.013604,1.073256
3,(chocolate),(mineral water),0.163845,0.238368,0.052660,0.321400,1.348332,0.013604,1.122357
4,(milk),(mineral water),0.129583,0.238368,0.047994,0.370370,1.553774,0.017105,1.209650
...,...,...,...,...,...,...,...,...,...
343,"(spaghetti, chocolate)",(milk),0.039195,0.129583,0.010932,0.278912,2.152382,0.005853,1.207088
344,"(milk, chocolate)",(spaghetti),0.032129,0.174110,0.010932,0.340249,1.954217,0.005338,1.251821
345,(spaghetti),"(milk, chocolate)",0.174110,0.032129,0.010932,0.062787,1.954217,0.005338,1.032712
346,(milk),"(spaghetti, chocolate)",0.129583,0.039195,0.010932,0.084362,2.152382,0.005853,1.049329
347,(chocolate),"(spaghetti, milk)",0.163845,0.035462,0.010932,0.066721,1.881480,0.005122,1.033494

In [24]:
#association basée sur la portance
from mlxtend.frequent_patterns import association_rules 
rules= association_rules(frequent_itemsets,metric="lift",min_threshold=1.25)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(spaghetti),(mineral water),0.174110,0.238368,0.059725,0.343032,1.439085,0.018223,1.159314
1,(mineral water),(spaghetti),0.238368,0.174110,0.059725,0.250559,1.439085,0.018223,1.102008
2,(mineral water),(chocolate),0.238368,0.163845,0.052660,0.220917,1.348332,0.013604,1.073256
3,(chocolate),(mineral water),0.163845,0.238368,0.052660,0.321400,1.348332,0.013604,1.122357
4,(milk),(mineral water),0.129583,0.238368,0.047994,0.370370,1.553774,0.017105,1.209650
...,...,...,...,...,...,...,...,...,...
329,"(spaghetti, chocolate)",(milk),0.039195,0.129583,0.010932,0.278912,2.152382,0.005853,1.207088
330,"(milk, chocolate)",(spaghetti),0.032129,0.174110,0.010932,0.340249,1.954217,0.005338,1.251821
331,(spaghetti),"(milk, chocolate)",0.174110,0.032129,0.010932,0.062787,1.954217,0.005338,1.032712
332,(milk),"(spaghetti, chocolate)",0.129583,0.039195,0.010932,0.084362,2.152382,0.005853,1.049329
333,(chocolate),"(spaghetti, milk)",0.163845,0.035462,0.010932,0.066721,1.881480,0.005122,1.033494

In [25]:
rules["antecedents_length"] = rules["antecedents"].apply(lambda x: len(x))
rules["consequents_length"] = rules["consequents"].apply(lambda x: len(x))
rules.sort_values("lift",ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedents_length,consequents_length
205,(herb & pepper),(ground beef),0.049460,0.098254,0.015998,0.323450,3.291994,0.011138,1.332860,1,1
204,(ground beef),(herb & pepper),0.098254,0.049460,0.015998,0.162822,3.291994,0.011138,1.135410,1,1
274,"(spaghetti, mineral water)",(ground beef),0.059725,0.098254,0.017064,0.285714,2.907928,0.011196,1.262445,2,1
279,(ground beef),"(spaghetti, mineral water)",0.098254,0.059725,0.017064,0.173677,2.907928,0.011196,1.137902,1,2
293,"(spaghetti, mineral water)",(olive oil),0.059725,0.065858,0.010265,0.171875,2.609786,0.006332,1.128021,2,1
...,...,...,...,...,...,...,...,...,...,...,...
208,(burgers),(frozen vegetables),0.087188,0.095321,0.010532,0.120795,1.267250,0.002221,1.028974,1,1
110,(french fries),(green tea),0.170911,0.132116,0.028530,0.166927,1.263488,0.005950,1.041786,1,1
111,(green tea),(french fries),0.132116,0.170911,0.028530,0.215943,1.263488,0.005950,1.057436,1,1
137,(chocolate),(whole wheat rice),0.163845,0.058526,0.011998,0.073230,1.251253,0.002409,1.015867,1,1
136,(whole wheat rice),(chocolate),0.058526,0.163845,0.011998,0.205011,1.251253,0.002409,1.051783,1,1

In [ ]:
#Selon le tableau ci-dessus, nous pouvons facilement dire que la dépendance 
#entre (herb & pepper)et(ground beef) est élevée puisque 
#le score de levage est d'environ 2,5 x le seuil et le score de conviction est supérieur à '1'

In [26]:
# Sort values based on confidence

rules.sort_values("confidence",ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedents_length,consequents_length
253,"(eggs, ground beef)",(mineral water),0.019997,0.238368,0.010132,0.506667,2.125563,0.005365,1.543848,2,1
311,"(milk, ground beef)",(mineral water),0.021997,0.238368,0.011065,0.503030,2.110308,0.005822,1.532552,2,1
306,"(ground beef, chocolate)",(mineral water),0.023064,0.238368,0.010932,0.473988,1.988472,0.005434,1.447937,2,1
317,"(milk, frozen vegetables)",(mineral water),0.023597,0.238368,0.011065,0.468927,1.967236,0.005440,1.434136,2,1
35,(soup),(mineral water),0.050527,0.238368,0.023064,0.456464,1.914955,0.011020,1.401255,1,1
...,...,...,...,...,...,...,...,...,...,...,...
307,(mineral water),"(ground beef, chocolate)",0.238368,0.023064,0.010932,0.045861,1.988472,0.005434,1.023893,1,2
49,(mineral water),(cereals),0.238368,0.025730,0.010265,0.043065,1.673729,0.004132,1.018115,1,1
297,(mineral water),"(spaghetti, olive oil)",0.238368,0.022930,0.010265,0.043065,1.878079,0.004799,1.021041,1,2
256,(mineral water),"(eggs, ground beef)",0.238368,0.019997,0.010132,0.042506,2.125563,0.005365,1.023507,1,2
261,(mineral water),"(spaghetti, french fries)",0.238368,0.027596,0.010132,0.042506,1.540263,0.003554,1.015571,1,2

In [27]:
rules[rules["antecedents"].str.contains("ground beef", regex=False) & rules["antecedents_length"] == 1].sort_values("confidence", ascending=False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedents_length,consequents_length
7,(ground beef),(mineral water),0.098254,0.238368,0.040928,0.416554,1.747522,0.017507,1.305401,1,1
73,(ground beef),(spaghetti),0.098254,0.174110,0.039195,0.398915,2.291162,0.022088,1.373997,1,1
120,(ground beef),(chocolate),0.098254,0.163845,0.023064,0.234735,1.432669,0.006965,1.092635,1,1
161,(ground beef),(milk),0.098254,0.129583,0.021997,0.223881,1.727704,0.009265,1.121499,1,1
279,(ground beef),"(spaghetti, mineral water)",0.098254,0.059725,0.017064,0.173677,2.907928,0.011196,1.137902,1,2
190,(ground beef),(frozen vegetables),0.098254,0.095321,0.016931,0.172320,1.807796,0.007565,1.093031,1,1
204,(ground beef),(herb & pepper),0.098254,0.049460,0.015998,0.162822,3.291994,0.011138,1.135410,1,1
192,(ground beef),(pancakes),0.098254,0.095054,0.014531,0.147897,1.555925,0.005192,1.062015,1,1
201,(ground beef),(olive oil),0.098254,0.065858,0.014131,0.143826,2.183889,0.007661,1.091066,1,1
195,(ground beef),(burgers),0.098254,0.087188,0.011998,0.122117,1.400607,0.003432,1.039787,1,1

In [ ]:
***Les scores de confiance, de portance et de soutien de (boeuf haché) et (eau minérale) sont élevés comme prévu. Pour cette raison, le top3 du tableau de tri de confiance était dominé par (boeuf haché)
***

In [28]:
rules[~rules["consequents"].str.contains("mineral water", regex=False) & 
      ~rules["antecedents"].str.contains("mineral water", regex=False)].sort_values("confidence", ascending=False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedents_length,consequents_length
73,(ground beef),(spaghetti),0.098254,0.174110,0.039195,0.398915,2.291162,0.022088,1.373997,1,1
109,(red wine),(spaghetti),0.028130,0.174110,0.010265,0.364929,2.095966,0.005368,1.300468,1,1
87,(olive oil),(spaghetti),0.065858,0.174110,0.022930,0.348178,1.999758,0.011464,1.267048,1,1
330,"(milk, chocolate)",(spaghetti),0.032129,0.174110,0.010932,0.340249,1.954217,0.005338,1.251821,2,1
57,(burgers),(eggs),0.087188,0.179709,0.028796,0.330275,1.837830,0.013128,1.224818,1,1
103,(herb & pepper),(spaghetti),0.049460,0.174110,0.016264,0.328841,1.888695,0.007653,1.230543,1,1
205,(herb & pepper),(ground beef),0.049460,0.098254,0.015998,0.323450,3.291994,0.011138,1.332860,1,1
324,"(eggs, chocolate)",(spaghetti),0.033196,0.174110,0.010532,0.317269,1.822232,0.004752,1.209686,2,1
107,(salmon),(spaghetti),0.042528,0.174110,0.013465,0.316614,1.818472,0.006060,1.208527,1,1
97,(grated cheese),(spaghetti),0.052393,0.174110,0.016531,0.315522,1.812196,0.007409,1.206597,1,1

In [ ]:
#Selon le tableau raffiné ci-dessus, 
#il existe une relation significative entre (boeuf haché) et (spaghetti), (vin rouge) et (spaghetti)